/* Hero.module.css */

.blinkingCursor {
  display: inline-block;
  width: 2px;
  height: 1em;
  background-color: currentColor;
  /* animation: blink 1s steps(2, start) infinite; */
  margin-left: 0.25rem; /* Equivalent to ml-1 in Tailwind */
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}
